.sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.error{
    color: red;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grupo1 {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
}
h2 {
    text-align: center;
}

.control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #b53000;
    background-color: #341919;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.acciones {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #b32626d6;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-1 {
    background-color: #ff0095;
    border-color: #ff0062;
}

.btn-1:hover {
    background-color: #00cbd9;
    border-color: #00c5cc;
}

.btn-2 {
    background-color: #2b7cc3;
    border-color: #2675ba;
}

.btn-2:hover {
    background-color: #07a03d;
    border-color: #059134;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-image: url('fondo3.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del navegador */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo para que no se mueva al hacer scroll */
}



h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #444;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #0be913;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #21afd3;
}

.links {
    margin-top: 20px;
}

.btn-link {
    display: inline-block;
    padding: 8px;
    color: #af664c;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: color 0.3s;
}

.btn-link:hover {
    color: #2675ba;
}
/* Estilos para el formulario de inicio y registro */
body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    background-image: url('Fondo3.png'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del navegador */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo para que no se mueva al hacer scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenido ocupe todo el alto de la ventana */
    margin: 0; /* Elimina los márgenes del cuerpo */  
}

.login-container, .register-container {
    background-color: rgb(255, 0, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ff0000;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ff2f00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
}

.avatar-preview {
    margin-top: 10px;
    text-align: center;
}

/* Estilos generales */
.dashboard-main, .create-character-container, .characters-list-container, .character-details-container, .leaderboard-container, .dashboard-container {
    background-color: rgba(54, 82, 207, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.character-details-container img {
    display: block;
    margin: 0 auto 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: rgb(162, 255, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #b3002d;
}

form {
    /*display: inline-block;*/
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
}

/* Estilos para el contenedor de la tabla de clasificaciones */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #00fff2;
    color: rgb(0, 98, 159);
}

tbody tr:nth-child(even) {
    background-color: #a808b9;
}

